* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondobody.webp);
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 
    "header   header   header"
    "main     main     main"
    "footer   footer   footer";
    grid-template-rows: 100px, 100vh, 1fr;
}

/** HEADER **/

header {
    grid-area: header;
    font-size: 18px;
    font-style: bold;
    background-color: rgb(100, 100, 100);
    min-height: 100px;
    nav {
        height: 100%;
        img {
            width: 100px;
        }
        .nav-link {
            color: white;
        }
        .navbar-nav:hover {
            --bs-nav-link-hover-color: #ffd100;
        }
    }
}

/** MAIN **/

main {
    grid-area: main;
    .banner {
        padding-top: 100px;
        width: 100%;
    }
    .bannerSubmain {
        width: 100%;
    }
}


#sobrenosotros {
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    img {
        width: 100%;
    }
    article {
        margin: 50px 0px;
        backdrop-filter: blur(10px);
        padding: 25px;
        border: solid 1px white;
        border-radius: 15px;
    }
    p {
        padding-top: 10px;
        max-width: 600px;
        max-height: 450px;
    }

}

/** FOOTER **/

footer {
    grid-area: footer;
    width: 100%;
    background-color: #221d21;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: auto;
    padding: 25px 0;
    ul {
        padding: 0;
        margin-bottom: 0;
    }
    .redes {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        li {
            padding: 0 15px ;
            a {
                img {
                    width: 30px;
                }
            }
        }
    }
    .logoFooter {
        width: 125px;
        margin: 25px;
        opacity: 0.25;
    }
    .politicas {
        display: flex;
        justify-content: center;
        list-style: none;
        li {
            margin: 0 20px;
            a {
                button {
                    width: 150px;
                    height: 40px;
                    border: 0;
                    color: #fff;
                    background-color: #433d3d;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: normal;
                }
            }
        }
    }
    .copyright {
        margin-top: 20px;
        span {
            color: rgb(56, 56, 56);
        }
    }
}

/** PRODUCTOS **/

.productos {
    display: flex;
    flex-flow: column wrap;
    align-items: center ;
}
.productosBuscador {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 50px;
    button {
        border-radius: 8px;
        border: black 1px solid;
        margin-right: 5px;
        img {
            height: 30px;
            padding: 5px;
        }
    }
    input {
        border-radius: 8px;
        width: 300px;
        height: 30px;
    }
}



.imagenesProducto {
    display: grid;
    grid-template-areas: 
    "producto1   producto2   producto3"
    "producto4   producto5   producto6"
    "producto7   producto8   producto9";
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
}

.producto1 {
    grid-area: producto1;
}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.producto4 {
    grid-area: producto4;
}

.producto5 {
    grid-area: producto5;
}

.producto6 {
    grid-area: producto6;
}

.producto7 {
    grid-area: producto7;
}

.producto8 {
    grid-area: producto8;
}

.producto9 {
    grid-area: producto9;
}


.imagenProducto {
    margin: 15px;
    img {
        width: 250px;
        height: 175px;
        border-radius: 25px;
    }
}

/** CONTACTO **/

.divContacto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.containerContacto {
    width: 710px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 20px;
}

.encabezadoContacto {
    margin: 25px;
    text-align: center;
    color: #fff;
}

.contenidoContacto {
    form {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
}

.inputContacto {
    margin: 5px;
	width: 350px;
	height: 32px;
	padding: 4px 8px;
	border-radius: 8px;
}

.textareaMensaje {
    margin: 5px;
	width: 350px;
	height: 100px;
	padding: 4px 8px;
	border-radius: 8px;
}

.submitButton {
     width: 120px;
     height: 32px;
     padding: 0px 10px 0px 10px;
     background: #EBEBEB;
     border-radius: 8px;
     font-weight: 800;
     text-align: center;
}


/** ENCUESTA **/


.divEncuesta{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.containerEncuesta {
    width: 800+px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 20px;
}

.Encuesta {
    text-align: center;
    color: #fff;
}

.encabezadoEncuesta{
    margin: 25px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    h2 {
        font-style: italic;
        margin-bottom: 10px;
        font-size: 28px;
    }
    p {
        width: 500px;
        font-size: 16px;
    }
} 

.formEncuesta {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .encuestas {
        margin: 30px;
        width: 710px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }
    div {
        h6 {
            font-size: 18px;
        }
        hr {
            width: 710px;
            margin-bottom: 5px;
        }
    }
}

.respuestas {
    width: 710px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


/** NOVEDADES **/

.novedades {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

}

.noticia {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 75px;
    img {
        width: 300px;
        border-radius: 45px;
    }
    h2 {
        color: #ffd60a;
    }
    p {
        width: 30vw;
        color: #fff;
    }
}

.imagenNoticia {
    width: 300px;
    display: flex;
    flex-flow: column wrap;
}

.textoNoticia {
    padding: 25px;
    margin-left: 20px;
}


@media screen and (max-width: 768px) {
    /** PRODUCTOS **/
    .imagenesProducto {
        grid-template-areas: 
        "producto1   producto2"
        "producto3   producto4"
        "producto5   producto6"
        "producto7   producto8"
        "producto9   producto9";
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 576px) {
    /** PRODUCTOS **/
    .imagenesProducto {
        grid-template-areas: 
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "producto5"
        "producto6"
        "producto7"
        "producto8"
        "producto9";
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /** ENCUESTA **/
    .respuestas {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}