* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondobody.webp);
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column wrap;
}

/** HEADER **/

header {
    font-size: 18px;
    font-style: bold;
    background-color: rgb(100, 100, 100);
    min-height: 100px;
    nav {
        height: 100%;
        img {
            width: 100px;
        }
        .nav-link {
            color: white;
        }
        .navbar-nav:hover {
            --bs-nav-link-hover-color: #ffd100;
        }
    }
}

/** MAIN **/

main {
    .banner {
        padding-top: 100px;
        width: 100%;
    }
}

/** FOOTER **/

footer {
    width: 100%;
    background-color: rgb(100, 100, 100);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: auto;
    padding: 25px 0;
    ul {
        padding: 0;
        margin-bottom: 0;
    }
    .redes {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        li {
            padding: 0 15px ;
            a {
                img {
                    width: 30px;
                }
            }
        }
    }
    .logoFooter {
        width: 125px;
        margin: 25px;
        opacity: 0.75;
    }
    .politicas {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        list-style: none;
        li {
            text-align: center;
            margin: 5px 20px;
        }
    }
}

/* HOME */
@import "../scss/pages/home";

/** PRODUCTOS **/
@import "../scss/pages/productos";

/** CONTACTO **/
@import "../scss/pages/contacto";

/** ENCUESTA **/
@import "../scss/pages/encuesta";

/** NOVEDADES **/
@import "../scss/pages/novedades";


@media screen and (max-width: 1000px) {
    /** PRODUCTOS **/
    .imagenesProducto {
        grid-template-areas: 
        "producto1   producto2"
        "producto3   producto4"
        "producto5   producto6"
        "producto7   producto8"
        "producto9   producto9";
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    /** ENCUESTA **/
    .respuestas {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}


@media screen and (max-width: 768px) {
    /** MAIN **/
    

    /** HOME **/
    .homeArticle {
        width: 80%;

    }

    #sobrenosotros {
        p {
        overflow: scroll;
        }
    }

    .map {
        width: 100%;
    }

    /** NOVEDADES **/
    .novedades {
        align-items: center;
    
    }

}

@media screen and (max-width: 660px) {
    /** PRODUCTOS **/
    .productosBuscador {
        margin: 50px 5%;
    }

    .imagenesProducto {
        grid-template-areas: 
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "producto5"
        "producto6"
        "producto7"
        "producto8"
        "producto9";
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .imagenProducto {
        img {
            width: 270px;
            height: 250px;
            border-radius: 25px;
            transition: all 300ms;
            position: relative;
            &:hover {
                transform: scale(1.15);
                cursor: pointer;
            }
        }
    }

    /** CONTACTO **/
    .inputContacto {
        width: 202px;
    }
    
    .textareaMensaje {
        width: 202px;
    }

    /** NOVEDADES **/
    .noticia {
        margin: 75px 10%;
    }
    .noticia img {
        text-align: center;
        width: 250px;
        border-radius: 45px;
        padding: 5px;
    }
}