.novedades {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

}

.noticia {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 75px;
    border: solid white 2px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    img {
        width: 300px;
        border-radius: 45px;
        padding: 5px;
    }
    h2 {
        color: #ffd60a;
    }
    p {
        max-width: 30vw;
        color: #fff;
    }
}

.imagenNoticia {
    width: 300px;
    display: flex;
    flex-flow: column wrap;
}

.textoNoticia {
    padding: 25px;
    margin-left: 20px;
}