.novedades {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.noticia {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 75px;
    border: solid white 2px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    padding: 5px;
    img {
        width: 300px;
        border-radius: 45px;
        padding: 5px;
    }
    h2 {
        color: #ffd60a;
        max-width: 370px;
    }
    p {
        max-width: 300px;
        color: #fff;
    }
}

.textoNoticia {
    padding: 25px;
}